
#buttons{
    width: 60%;
    height: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.container{
    top:15%;
    width: 60%;
    height: 70%;
    padding: 0;
}


.drum-pad{
    width: 3rem;
    height: 3rem;
    border-radius: 25px;
}

.red-buttons{
    background-image: radial-gradient( #e89285 10%, #e05154);
}

.blue-buttons{
    background-image: radial-gradient( #2efcef 10%, #2c91e9);
}

.green-buttons{
    background-image: radial-gradient( #7ffeaf 10%, #7db688);
}